@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(28, 26, 26);
  color: white;
  font-family: "Kdam Thmor Pro", sans-serif;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

a {
  text-decoration: none;
}
#name {
  padding: 0;
  margin: 0;
  color: #eee;
  font-size: 3em;
}

#title {
  padding: 0;
  margin: 0;
  color: #999;
  font-size: 1.5em;
  user-select: none;
}

.socials {
  margin-top: 10px;
}

.socials a {
  margin: 10px;
}

.socials a svg {
  fill: #00ff88;
  -webkit-filter: drop-shadow(0 0 5px #00ff88);
  filter: drop-shadow(0 0 5px #00ff88);
  transition: all 0.05s linear;
}
.socials a:hover svg {
  fill: #fff;
  -webkit-filter: drop-shadow(0 0 5px #fff);
  filter: drop-shadow(0 0 5px #fff);
}

#zkasino {
  color: #00ff88;
  text-shadow: 0 0 5px #00ff88;

  transition: all 0.05s linear;
}

#zkasino:hover {
  text-shadow: 0 0 5px #fff;
  color: white;
}
