.container {
  color: rgb(139, 139, 139);
  aspect-ratio: 1;
  position: relative;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--border_color);
  margin-left: -1px;
  margin-bottom: -1px;
  transition: all 0.1s ease-out;
}

.container img {
  position: absolute;
  padding: 2rem;
  padding-top: 3rem;
  object-fit: contain;
}

.container:hover {
  background: rgb(39, 39, 39);
}
