.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* margin: 3rem; */
  min-height: 100vh;
}

.main > * {
  margin-right: -1px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (width< 700px) {
  .main {
    margin: 1px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}
