.container {
  margin: 3rem;
  border: 1px solid var(--border_color);
  display: flex;
  flex-direction: column;
}

.techs {
  margin-right: -1px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.title {
  font-size: 2rem;
  /* text-align: center; */
}

@media (width < 700px) {
  .container {
    margin: 1rem;
  }

  .techs {
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  }

  .title {
    font-size: 1.5rem;
  }
}
