.container {
  border-top: 1px solid var(--border_color);
  min-height: 4rem;

  display: flex;
  padding-inline: 3rem;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 1rem;
}

.link > a {
  transition: all 0.1s ease-out;
}

.links > a:hover {
  color: white;
}
